body, html {
  height: 100%;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  background-color: #f2f7f9;
}

.App {
  overflow: auto;
}

@media (min-width: 800px) {
  .App {
    margin: 0 20vh;
  }
}

.App section#grid {
  overflow: auto;
}

.App section#grid .wrapper {
  border-radius: 15px;
  width: 100%;
}

.App section#grid .wrapper .portrait {
  float: left;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 49%;
  position: relative;
}

.App section#grid .wrapper .portrait:nth-child(2n) {
  margin-right: 0;
}

.App section#grid .wrapper .portrait img:hover {
  opacity: .5;
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

.App section#grid .wrapper .portrait img {
  width: 100%;
  height: 39vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.App section#grid .wrapper .landscape {
  position: relative;
}

.App section#grid .wrapper .landscape img:hover {
  opacity: .5;
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

.App section#grid .wrapper .landscape img {
  width: 100%;
  height: 39vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 800px) {
  .App section#grid .wrapper .portrait {
    float: left;
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    width: 24.625%;
  }
  .App section#grid .wrapper .portrait:nth-child(4n) {
    margin-right: 0;
  }
  .App section#grid .wrapper .landscape {
    overflow: hidden;
  }
  .App section#grid .wrapper .landscape img {
    padding-left: 1%;
    height: 19.25vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.App section#grid .wrapper .center-bottom-landscape {
  position: absolute;
  color: white;
  text-align: center;
  bottom: 3vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.App section#grid .wrapper .center-bottom-portrait {
  position: absolute;
  color: white;
  text-align: center;
  bottom: 3vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.App section#carousel {
  position: relative;
  height: 50%;
}

.App section#carousel .image-carousel {
  width: 100%;
  display: table;
  position: relative;
}

@media (min-width: 800px) {
  .App section#carousel .image-carousel {
    height: 30vw;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
}

.App section#carousel .image-carousel .coverimage {
  background-color: #f2f7f9;
}

.App section#carousel .image-carousel .coverimage img {
  width: 100%;
  top: 2vh;
}

@media (min-width: 800px) {
  .App section#carousel .image-carousel .coverimage img {
    position: absolute;
  }
}

@media (min-width: 800px) {
  .App section#carousel .image-carousel .coverimage {
    content: url("./images/desktop/TestimonialCoverImage_Desktop.png");
    position: absolute;
    width: 90%;
    top: 2vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.App section#carousel .image-carousel .inner {
  position: absolute;
  top: 60%;
  height: 40%;
}

@media (min-width: 800px) {
  .App section#carousel .image-carousel .inner {
    overflow: hidden;
    position: relative;
    width: 20%;
    left: 72%;
    height: 100%;
  }
}

.App section#carousel .image-carousel .inner .reisetopia-testimonials {
  position: relative;
  display: none;
  text-align: center;
  width: 80%;
  left: 11%;
  top: 10%;
  font-size: 4vw;
}

@media (min-width: 800px) {
  .App section#carousel .image-carousel .inner .reisetopia-testimonials {
    width: 15vw;
    top: 15%;
    left: 0;
    font-size: 1.2vw;
    text-align: left;
  }
}

.App section#carousel .image-carousel .inner .reisetopia-testimonials .quote {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  color: #767e8a;
}

.App section#carousel .image-carousel .inner .reisetopia-testimonials .testimonials-author {
  color: #5d6574;
  font-style: bold;
}

.App section#carousel .image-carousel .inner .arrows {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 37%;
  top: 70%;
}

@media (min-width: 800px) {
  .App section#carousel .image-carousel .inner .arrows {
    top: 55%;
    left: 0;
  }
}

.App section#carousel .image-carousel .inner .arrows .next {
  padding-left: 5px;
}

@media (min-width: 800px) {
  .App section#carousel .image-carousel .inner .arrows .next {
    width: 28%;
    padding-left: 2px;
    content: url("./images/desktop/RightArrow_Desktop.png");
    z-index: 2;
  }
  .App section#carousel .image-carousel .inner .arrows .next:hover {
    color: #51A0D5;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    opacity: 0.6;
  }
}

.App section#carousel .image-carousel .inner .arrows .prev {
  top: 0;
  padding-right: 5px;
}

@media (min-width: 800px) {
  .App section#carousel .image-carousel .inner .arrows .prev {
    width: 28%;
    padding-right: 2px;
    content: url("./images/desktop/LeftArrow_Desktop.png");
  }
  .App section#carousel .image-carousel .inner .arrows .prev:hover {
    color: #51A0D5;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    opacity: 0.6;
  }
}

.App section#footer {
  background-color: #f2f7f9;
  position: absolute;
  width: 100%;
  left: 40%;
}

.App section#footer img {
  width: 20%;
}

@media (min-width: 800px) {
  .App section#footer {
    content: url("./images/logo.png");
    width: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
/*# sourceMappingURL=App.css.map */