$colors:(
    primary: #f2f7f9,
    arrow:  #51A0D5,
    quote: #767e8a,
    author:#5d6574
);

$padding: 15px;
$borders: 15px;
$desktop: 700px;
$side-padding: 25vh;

// allows us to highlight the 
@function color($color-name){
    @return map-get($colors, $color-name);
}

//optimised for 1024px width - the mixin below specifies desktop versions which being at 800px width
@mixin desktop { // mixin allows grouping of css declarations throughout the site
    @media (min-width: $desktop){
        @content; 
    }
}

// will help divide the screen into grids with the first input being the number of columns and the second being the 
// margin between the columns

@mixin grid ($cols, $mgn){
    float: left; //left side of the container
    margin-right: $mgn; //margin as a % of the width of the containing element
    margin-bottom: $mgn;
    width: ((100% - (($cols - 1) * $mgn)) / $cols); 
    &:nth-child(#{$cols}n){ //makes the margin of the last column 0
        margin-right: 0;
    }
}

body, html {
    height: 100%;
}

html {
    overflow: auto;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: color(primary);
    margin: 2%;

    @include desktop {
        margin: 1%; //first input is top and bottom whilst second input is left and right
    }

}

.App {
margin: 0 0%;

    //adjustment for the desktop version
    @include desktop {
        margin: 0 10vw; //first input is top and bottom whilst second input is left and right
    }

section#grid {
    overflow: auto;

    .wrapper {
        border-radius: $borders;
        width: 100%;

        .portrait{
            
            //will split the screen into a 1 by 2 grid with a margin of 2% between the images
            @include grid(2,2%);
            position: relative;
            z-index: 3;

            //hover effects whill make the image bigger and highlight it
            img:hover {
                opacity: .5;
                transform: scale(1.015);
            }

            img{
                width: 100%;
                height: 39vh;
                object-fit: cover;
            }
        
        }

        //similar adjustments to the ones above, applied to the landscape images
        .landscape {
            position: relative;

            img:hover {
                opacity: .5;
                transform: scale(1.015);
            }

            img{
                width: 100%;
                height: 39vh;
                object-fit: cover;
            }
        }

        //adjustments for the desktop
        @include desktop {
            .portrait {
                @include grid(4,0.5%);

                img {
                    max-height: 254px;
                }
            }

            .landscape {
                overflow: hidden;

                img {
                    max-height: 126px;
                    padding-left: 1%;
                    height: 19.25vh;
                    object-fit: cover;
                }
            }
        }

        //will add captions onto the landscape pictures
        .center-bottom-landscape {
            position: absolute;   
            color: white; 
            text-align: center;
            bottom: 3vh;
            left: 50%;
            transform: translateX(-50%);
          }

        //will add captions onto the portrait pictures
        .center-bottom-portrait {
            position: absolute;   
            color: white; 
            text-align: center;
            bottom: 3vh;
            left: 50%;
            transform: translateX(-50%);
        }

    }

} 

section#carousel {

    position: relative;
    height: 50%;
    
    //holds the arrow images for the carousel
    .image-carousel {
        width: 100%;
        display: table;
        position: relative;

        @include desktop {
            height: 30vw;
            width: 100%;
            overflow: hidden;
            position: relative;
        }

        //adds the background image for the testimonials
        .coverimage {
            background-color: color(primary);
            
            img{
                width: 100%;   
                top: 2vh;
                @include desktop {
                    position: absolute;
                }
            }

            @include desktop {
                //adds a desktop version of the image when the page is being viewed on a larger device
                content: url('./images/desktop/TestimonialCoverImage_Desktop.png');
                position: absolute;
                width: 90%;
                top: 2vh;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .inner{
            position: absolute;         
            top: 60%;
            height: 40%;

            @include desktop {
                overflow: hidden;
                position: relative;
                width: 20%;
                left: 72%;
                height: 100%;
            }

            .reisetopia-testimonials{
                position: relative;
                display: none;
                text-align: center;
                width: 80%;
                left: 11%; 
                top: 10%;
                font-size: 4vw;

                @include desktop {
                    width: 15vw;
                    top: 15%;
                    left: 0;
                    font-size: 1.2vw;
                    text-align: left;
                }
                
                .quote {
                    font-style: italic;
                    font-family: Arial, Helvetica, sans-serif;
                    color:color(quote);
                }

                .testimonials-author {
                    color:color(author);
                    font-style: bold;
                }
            }
            
            .arrows{
                position: absolute;
                display: flex;
                left: 37%;
                top: 72%;
                z-index: 4;

                @include desktop {
                    top: 55%;
                    left: 0;
                }
    
                //right arrow for next testimonial
                .next{
                    padding-left: 5px;

                    @include desktop {
                        width: 28%;
                        padding-left: 2px;
                        content: url('./images/desktop/RightArrow_Desktop.png');
    
                        &:hover {
                            color: color(arrow);
                            transform: scale(1.15);
                            opacity: 0.6;
                        }
    
                    }
                }
    
                //left arrow for previous testimonial
                .prev{
                    padding-right: 5px;

                    @include desktop {
                        width: 28%;
                        padding-right: 2px;
                        content: url('./images/desktop/LeftArrow_Desktop.png');
    
                        &:hover {
                            color: color(arrow);
                            transform: scale(1.15);
                            opacity: 0.6;
                        }
    
                    }
                }
            }

        }

    }

}

//places logo at the middle of the footer
section#footer {
    background-color: color(primary);
    position: absolute;
    width: 100%;
    left: 40%;

    img{
        width: 20%;
    }

    @include desktop {
        content: url('./images/logo.png');
        width: 10%;
        left: 50%;
        transform: translateX(-50%);        
    }
}

}